{% extends 'base.html.twig' %}

{% block title %}{{ gist.title ? gist.title : 'gist.untitled'|trans }} - {{ 'gist.action.clone'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <form action="" method="post" id="main-form">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ gist.title ? gist.title : 'gist.untitled'|trans }}
                    </div>
                    <div class="panel-body">
                        <p class="text-primary hide" id="cipher-alert">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            {{ 'form.cipher.alert'|trans }}
                        </p>
                        <p>
                            {{ form_errors(form.content) }}

                            {% set class = 'form-control' %}

                            {% if gist.cipher %}
                                {% set class = class ~ ' cipher-editor' %}
                            {% endif %}

                            {{ form_widget(form.content, {attr: {class: class}}) }}
                        </p>
                        <p>
                            <input type="submit" class="btn btn-primary" value="{{ 'form.submit'|trans }}">
                        </p>
                    </div>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </form>
    </div>
{% endblock %}

{% block js %}
    {% if gist.cipher %}
        <script>
            var cipherGistClone = true;
        </script>
    {% endif %}

    {{ parent() }}
{% endblock %}
