{% extends 'base.html.twig' %}

{% block title %}{{ 'my.title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
					{{ 'my.title'|trans }}
				</div>
                <div class="panel-body">
                    <div class="tab-content">
						{% set gists = user.gists %}

						{% if gists|length == 0 %}
							{{ 'my.nothing'|trans }}
						{% else %}
							{% for gist in user.gists %}
								<div class="commit">
									<p>
										<strong>{{ gist.title ? gist.title : 'gist.untitled'|trans }}</strong>, 							
										{{ gist.createdAt|date('date.format'|trans) }}
									</p>
										
									<p>
										<button class="btn btn-info btn-sm">
											{{ gist.type }}	
										</button>

										{% if not gist.cipher %}
											<a href="{{ path('view', {gist: gist.file}) }}" class="btn btn-warning btn-sm">
												{{ 'gist.action.view'|trans }}
											</a>
										{% else %}
											<button class="btn btn-error btn-sm">
												<span class="glyphicon glyphicon-lock"></span>
											</button>
										{% endif %}
									</p>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
