{% extends 'base.html.twig' %}

{% block title %}
	Error {{ code }} - {{ name }}
{% endblock %}

{% block langs %}

{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Error: {{ name }}
				</div>
				<div class="panel-body">
					{% if app.env == 'dev' %}
						<p><em>In file "{{ exception.file }}" at line {{ exception.line }}</em></p>

						<h2>Stacktrace</h2>
						<p>{{ exception.message }}</p>
						<pre>{{ exception.traceAsString }}</pre>
					{% else %}
						<p>{{ exception.message }}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
