{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ web_path }}app/css/prism.css">

    {% if theme_settings.name == 'dark' %}
        <link rel="stylesheet" href="{{ web_path }}app/css/prism-okaidia.css">
    {% else %}
        <link rel="stylesheet" href="{{ web_path }}app/css/prism-solarizedlight.css">
    {% endif %}

    <style type="text/css">
        .panel-body {
            padding: 0;
        }

        .panel {
            margin-bottom: 0;
        }

        .container-fluid {
            padding: 0;
        }
    </style>
{% endblock %}

{% block title %}{{ gist.title ? gist.title : 'gist.untitled'|trans }} - {{ commit|slice(0, 10) }}{% endblock %}

{% block nav %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12" id="embed">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6 col-xs-9">
                            {{ gist.title ? gist.title : 'gist.untitled'|trans }}
                        </div>
                        <div class="col-md-6 col-xs-3">
                            <div class="visible-sm visible-xs pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a target="_blank" href="{{ path('view', app.request.attributes.get('_route_params')) }}" class="cipher-link">
                                                <span class="btn btn-warning btn-xs">
                                                    {{ commit|slice(0, 10) }}
                                                </span>
                                            </a>
                                        </li>
                                        {% if not gist.cipher %}
                                            <li>
                                                <a target="_blank" href="{{ path('raw', app.request.attributes.get('_route_params')) }}">
                                                    {{ 'gist.action.raw'|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="{{ path('download', app.request.attributes.get('_route_params')) }}">
                                                    {{ 'gist.action.download'|trans }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li>
                                        <a target="_blank" href="{{ path('clone', app.request.attributes.get('_route_params')) }}" class="cipher-link">
                                                {{ 'gist.action.clone'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="visible-md visible-lg">
                                <div class="text-right actions">
                                    <a target="_blank" href="{{ path('view', app.request.attributes.get('_route_params')) }}" class="cipher-link"><span class="btn btn-warning btn-xs">{{ commit|slice(0, 10) }}</span></a>

                                    {% if not gist.cipher %}
                                        <a target="_blank" href="{{ path('raw', app.request.attributes.get('_route_params')) }}" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                            {{ 'gist.action.raw'|trans }}
                                        </a>
                                        <a target="_blank" href="{{ path('download', app.request.attributes.get('_route_params')) }}" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-save-file"></span>
                                            {{ 'gist.action.download'|trans }}
                                        </a>
                                    {% endif %}

                                    <a target="_blank" href="{{ path('clone', app.request.attributes.get('_route_params')) }}" class="btn btn-success btn-sm cipher-link">
                                        <span class="glyphicon glyphicon-copy"></span>
                                        {{ 'gist.action.clone'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="view" class="tab-pane active in">
                            <div id="viewer">
                                <pre><code {% if gist.cipher %}data-cipher{% endif %} class="line-numbers language-{{ gist.highlightType }}">{{ raw_content }}</code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
    {{ parent() }}

    <script type="text/javascript" src="{{ web_path }}components/iframe-resizer/js/iframeResizer.contentWindow.min.js"></script>
    <script src="{{ web_path }}app/js/prism.js" {% if gist.cipher %}data-manual{% endif %}></script>
{% endblock %}
