{% extends 'base.html.twig' %}

{% block css %}
    {% if gist.cipher %}
        <link type="text/css" rel="Stylesheet" href="{{ web_path }}components/SyntaxHighlighter/styles/shCoreRDark.css" />
        <link type="text/css" rel="Stylesheet" href="{{ web_path }}components/SyntaxHighlighter/styles/shThemeRDark.css" />
    {% else %}
        <link rel="stylesheet" href="{{ web_path }}app/css/geshi/vibrant-ink.css" />
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block title %}{{ gist.title ? gist.title : 'gist.untitled'|trans }} - {{ commit|slice(0, 10) }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% if not gist.cipher %}
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="{{ path('view', {gist: gist.file}) }}">
                            {{ 'gist.action.view'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('revisions', {gist: gist.file}) }}">
                            {{ 'gist.action.history'|trans }}
                            <span class="badge">{{ history|length }}</span>
                        </a>
                    </li>
                </ul>    
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if not gist.cipher %}
                        <div class="pull-right actions">
                            <span class="btn btn-warning btn-xs">
                                {{ commit|slice(0, 10) }}
                            </span>

                            <a href="{{ path('raw', app.request.attributes.get('_route_params')) }}" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                {{ 'gist.action.raw'|trans }}
                            </a>
                            <a href="{{ path('download', app.request.attributes.get('_route_params')) }}" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-save-file"></span>
                                {{ 'gist.action.download'|trans }}
                            </a>
                            <a href="{{ path('clone', app.request.attributes.get('_route_params')) }}" class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-copy"></span>
                                {{ 'gist.action.clone'|trans }}
                            </a>
                        </div>
                    {% endif %}

                    {{ gist.title ? gist.title : 'gist.untitled'|trans }}

                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="view" class="tab-pane active in">
                            <div id="viewer">
                                {% if gist.cipher %}
                                    <pre class="brush: {{ gist.type }}; syntaxhighlighter">{{ raw_content|raw }}</pre>
                                {% else %}
                                    {{ content|raw }}
                                {% endif %}
                            </div>

                            <p id="embed" class="pull-right">
                                {{ 'gist.action.embed'|trans }}
                                <input type="text" class="form-control" id="embed-input" value="{{ '<div%key%id="gist-' ~ gist.file ~ '-' ~ commit ~ '" class="gist-container"></div><script src="' ~ app.request.getSchemeAndHttpHost() ~ path('embedjs', app.request.attributes.get('_route_params')) ~ '"></script>' }}" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    
    {% if gist.cipher %}
        <script type="text/javascript" src="{{ web_path }}components/SyntaxHighlighter/scripts/XRegExp.js"></script> <!-- XRegExp is bundled with the final shCore.js during build -->
        <script type="text/javascript" src="{{ web_path }}components/SyntaxHighlighter/scripts/shCore.js"></script>
        <script type="text/javascript" src="{{ web_path }}components/SyntaxHighlighter/scripts/shAutoloader.js"></script>
        <script type="text/javascript">
            SyntaxHighlighter.autoloader(
                ['applescript',                    '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushAppleScript.js' ],
                ['actionscript3', 'as3',           '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushAS3.js' ],
                ['bash', 'shell',                  '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushBash.js' ],
                ['coldfusion', 'cf',               '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushColdFusion.js' ],
                ['cpp', 'c',                       '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushCpp.js' ],
                ['c#', 'c-sharp', 'csharp',        '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushCSharp.js' ],
                ['css',                            '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushCss.js' ],
                ['delphi', 'pascal',               '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushDelphi.js' ],
                ['diff', 'patch', 'pas',           '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushDiff.js' ],
                ['erl', 'erlang',                  '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushErlang.js' ],
                ['groovy',                         '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushGroovy.js' ],
                ['java',                           '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushJava.js' ],
                ['jfx', 'javafx',                  '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushJavaFX.js' ],
                ['js', 'jscript', 'javascript',    '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushJScript.js' ],
                ['perl', 'pl',                     '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushPerl.js' ],
                ['php',                            '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushPhp.js' ],
                ['text', 'plain',                  '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushPlain.js' ],
                ['py', 'python',                   '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushPython.js' ],
                ['ruby', 'rails', 'ror', 'rb',     '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushRuby.js' ],
                ['scala',                          '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushScala.js' ],
                ['sql',                            '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushSql.js' ],
                ['vb', 'vbnet',                    '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushVb.js' ],
                ['xml', 'xhtml', 'xslt', 'html',   '{{ web_path }}components/SyntaxHighlighter/scripts/shBrushXml.js' ]
            );
        </script>
    {% endif %}
{% endblock %}
